#head{
    font-size:40px;
    text-align:center;
    color:#A20025;
}

#content{
    font-size:20px;
    text-align:center;
}

.subtitle{
    font-size:28px;
    color:red;
}

body{
    background-color:#D4AF37;
}

li{
    list-style-type:none;
}
